* {
  font-family: "Roboto Slab", serif;
}

h2.new {
  color: white;
  position: relative;
  top: 80px;
  left: -175px;
  font-size: 20px;
}

h3.new {
  color: white;
  position: relative;
  top: 60px;
  left: -50px;
}

.nav-item {
  font-weight: bold;
  margin: 0px 25px;
}

.nav-text {
  color: white;
}

.footer-social-icon {
  width: 32px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin-top: 60px;
 
}

nav a {
  color: white;
  display: inline-block;
  padding: 2vh 3.5vh;
}

li:hover a {
  background-color: orange;
  color: black;
  text-decoration: none;
}

.active {
  color: orange;
}

.logo {
  color: orange;
  font-size: 2.2rem;
  font-family: cursive;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fjalla One", sans-serif;
  background-color:rgba(114, 108, 108, 0.1);
  background-image:linear-gradient(to right,white,lightblue);
  
}

.container {
  width:24%;
  height: 70%;
  margin-left: auto 0;
  margin-bottom:210px;
  padding:0px;
}

.upper-main {
  padding: 10px;
}


.adroit {
  position: absolute;
  right: 5%;
  color: #5b5a5f;
  font-size: 2em;
  padding: 10px;
  bottom: 10%;
}

.adroit > span {
  display: block;
  color: #341d31;
  font-size: 0.5em;
}


li {
  margin-bottom: 0.5em;
  text-indent: 0.4em;
  font-weight: bold;
}

#footer {
  position: fixed;
  bottom:0px;
  left:0;
  height: 185px;
  background-color: black;
  color: white;
  width: 100vw;
  padding-top: 10px;
  padding-left: 170px;
}
body{
  overflow:auto;
  background-image:linear-gradient(to right,rgb(223, 217, 217,0.3),lightblue);
}

.InnerSection {
  float: left;
  width: 20%;
  font-size:14px;
}

.InnerHeading {
  font-weight: 500;
  color: gray;
}

ol {
  list-style: none;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

.SocialIcon {
  height: 28px;
  border-radius: 7px;
}

#IconList {
  display: flex;
}
#IconList li {
  margin: 0 10px;
}
#custom-nav {
  -webkit-box-shadow: 20px 20px 20px rgb(235, 229, 205);
  -moz-box-shadow:    20px 20px 20px rgb(243, 239, 221);
  box-shadow:         20px 20px 20px rgb(248, 247, 244);
  z-index:999;
}