* {
  font-family: "Roboto Slab", serif;
}

h2.new {
  color: white;
  position: relative;
  top: 80px;
  left: -175px;
  font-size: 20px;
}

h3.new {
  color: white;
  position: relative;
  top: 60px;
  left: -50px;
}

.nav-item {
  font-weight: bold;
  margin: 0px 25px;
}

.nav-text {
  color: white;
}

.footer-social-icon {
  width: 32px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin-top: 60px;
  background-color: black;
}

nav a {
  color: white;
  display: inline-block;
  padding: 2vh 3.5vh;
}

li:hover a {
  background-color: orange;
  color: black;
  text-decoration: none;
}

.active {
  color: orange;
}

.logo {
  color: orange;
  font-size: 2.2rem;
  font-family: cursive;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fjalla One", sans-serif;
  background-color: rgb(0, 0, 255, 0.2);
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 80%;
  margin: 2% auto;
}

.upper-main {
  padding: 10px;
}

.country-name {
  color: black;
  font-size: 3em;
  letter-spacing: 0.2em;
  padding: 20px;
  margin-left: -25px;
}

.country-flag {
  width: 17%;
  height: 14%;
  position: absolute;
  left: 10.5%;
}

.county-welcome {
  position: absolute;
  left: 23.5%;
  font-size: 1.5em;
  color: #5b5a5f;
  padding: 0 20px;
}

.county-welcome > span {
  display: block;
}

.county-welcome > span.year {
  color: #341d31;
  font-size: 2em;
}

.adroit {
  position: absolute;
  right: 5%;
  color: #5b5a5f;
  font-size: 2em;
  padding: 10px;
  bottom: 10%;
}

.adroit > span {
  display: block;
  color: #341d31;
  font-size: 0.5em;
}

.container > .election-2019 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 30%;
  bottom: 1%;
}

.container > .election-2019 > .ballot {
  position: absolute;
  width: 40%;
  height: 35%;
  left: 30%;
  bottom: 0;
  background: rgb(230, 87, 5);
  border-top: 4px solid #00190f;
}

.container > .election-2019 > .ballot > .middle {
  position: absolute;
  width: 30%;
  height: 100%;
  left: 35%;
  bottom: 0;
  background: #ffffff;
}

.container > .election-2019 > .ballot-top {
  position: absolute;
  width: 50%;
  height: 8%;
  left: 25%;
  bottom: 35%;
  background: white;
}

.container > .election-2019 > .ballot-top-cover {
  position: absolute;
  width: 50%;
  height: 20%;
  left: 25%;
  bottom: 43%;
  background: rgb(230, 87, 5);
  -webkit-clip-path: polygon(12% 0, 88% 0, 100% 100%, 0% 100%);
  clip-path: polygon(12% 0, 88% 0, 100% 100%, 0% 100%);
}

.container > .election-2019 > .ballot-top-cover > .hole {
  position: absolute;
  width: 40%;
  height: 10%;
  left: 30%;
  bottom: 40%;
  background: black;
}

.container > .election-2019 > .papper {
  position: absolute;
  width: 10%;
  height: 30%;
  left: 45%;
  bottom: 53%;
  background: #ffffff;
  border-radius: 0 0 5px 0;
  z-index: 2;
  transform: rotate(15deg);
}

.container > .election-2019 > .hand {
  position: absolute;
  width: 9%;
  height: 13%;
  background: #ffd4a0;
  left: 50%;
  bottom: 73%;
  border-radius: 0 0 30px 0;
  transform: rotate(-15deg);
}

.container > .election-2019 > .hand-inner {
  position: absolute;
  width: 4%;
  height: 17%;
  background: #ffd4a0;
  left: 51%;
  bottom: 67%;
  border-radius: 0 0 30px 100px;
  z-index: 3;
  transform: rotate(65deg);
}

.container > .election-2019 > .inner-sleeve {
  position: absolute;
  width: 5%;
  height: 13%;
  background: #ffffff;
  left: 58%;
  bottom: 76%;
  transform: rotate(-15deg);
}

.container > .election-2019 > .sleeve {
  position: absolute;
  width: 15%;
  height: 16%;
  background: #000000;
  left: 61%;
  bottom: 77%;
  border-radius: 0 0 0 10px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
  transform: rotate(-15deg);
}

.sec-1-btn {
  border: none;
  outline: none;
  background-color: rgb(230, 87, 5);
  padding: 10px 16px;
  margin: 10px 0px;
  width: 100%;
}

li {
  margin-bottom: 0.5em;
  text-indent: 0.4em;
  font-weight: bold;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 240px;
  background-color: black;
  color: white;
  width: 100vw;
  padding-top: 20px;
  padding-left: 170px;
}

.InnerSection {
  float: left;
  width: 20%;
}

.InnerHeading {
  font-weight: 500;
  color: gray;
}

ol {
  list-style: none;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue;
}

.SocialIcon {
  height: 28px;
  border-radius: 7px;
}

#IconList {
  display: flex;
}
#IconList li {
  margin: 0 10px;
}
.Credits {
  margin-top: 20px;
  width: 100vw;
  text-align: center;
  float: left;
}
